<footer class="site-footer">
  <div class="medialuna"></div>
<script src="{{ site.baseurl }}scripts/main.js"></script>
<script src="{{ site.baseurl }}scripts/remodal.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77300870-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="sponfoot">
  <img id="logo_footer" src="{{ site.baseurl }}images/layout/logowhite.svg" alt="Excapes">

  <p>No sería lo mismo sin el apoyo de</p>
  <ul class="sponsor main">
    {% for sponsor in site.sponsors %}
      {% if sponsor.footer == "top" %}
        <li>
          <a href="{{ site.baseurl }}patrocinadores/">
            <img src="{{ site.baseurl }}images/patrocinadores/footer/{{ sponsor.logo }}">
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p>Nuestros patrocinadores tienen promociones para ti, revísalas <a href="{{ site.baseurl }}patrocinadores/"><b>aquí</b></a>.</p>

  <ul class="sponsor second">
    {% for sponsor in site.sponsors %}
      {% if sponsor.footer == "bottom" %}
      <li>
        <a href="{{ site.baseurl }}patrocinadores/">
          <img src="{{ site.baseurl }}images/patrocinadores/footer/{{ sponsor.logo }}">
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p><em><b>© EXCAPES</b> Todos los derechos reservados, {{ site.time | date: '%Y' }}.<br>
  Sitio diseñado y desarrollado por <a href="http://rodrigosalmeron.mx" target="_blank"><b>Rodrigo Salmerón</b>.</em></p>
</div>

</footer>
