<a href="{{page.mainsponsorlink}}" rel="nofollow">
<div class="add_space">
  <img class="sidebar_visible" src="{{ site.baseurl }}images/patrocinadores/sidebar/{{ page.mainsponsor }}">
  <img class="mobile_visible" src="{{ site.baseurl }}images/patrocinadores/sidebar/{{ page.mainsponsorhorizontal }}">
</div> 
</a>
<a href="{{page.secondarysponsorlink}}" rel="nofollow">
<div class="mini_add_space">
  <img class="sidebar_visible" src="{{ site.baseurl }}images/patrocinadores/sidebar/{{ page.secondarysponsor }}">
  <img class="mobile_visible" src="{{ site.baseurl }}images/patrocinadores/sidebar/{{ page.secondarysponsorhorizontal }}">
</div>
</a>
{% include socialblock.html %}