/**
 * Site header
 */

header {
    margin-top: 50px;
    min-height: 140px;
    height: 50%;
    width: 100%;
    position: relative;

    .logo{
        position: relative;
        width: 100%;
        height: 100%;
        max-width:600px;
        left: 50%;
        @include translateX(-50%);
    }
}

.themenuicon{
    top: 0;
    position: absolute;
    @include border-radius-multiple(0px, 0px, 10px, 10px);
}

.logoenconstruccion{
    width: 100%;
    float: left;
    clear: both;
}

.underconstruction{
    width: 300px;
    display: block;
    height: 250px;
    margin: 30px auto 0px auto;
}

.hamb{
    position: absolute;
    background-color: $red;
    @include border-radius-multiple(0, 0, 50%, 50%);
    width: 65px;
    height: 45px;
    left: 50%;
    @include translateX(-50%);
    cursor: pointer;
    z-index: 7;
}

.hambsvg{
  width: 45px;
  height: 45px;
}

.hamb.cross #bot{
    @include transformhamb(-10px, 10px, -33deg);
}
.hamb.cross #top{
    @include transformhamb(10px, -6px, 37deg);
}
.hamb.cross .mid{
  opacity:0;
}
#bot{
    @include transformhamb(0px, 0px, 0deg);
    @include transition(.2s, ease-out);
}
#top{
    @include transformhamb(0px, 0px, 0deg);
    @include transition(.2s, ease-out);
}
.mid{
  opacity:1;
@include transition(.2s, ease-out);
}

nav {
    width: 100%;
    @include translateY(100%);
    height: 50%;
    bottom: 0;
    text-align: center;
    min-height: 250px;
    position: fixed;
    background-color: $red;
    padding: 20px 0;
    @include transition(.4s, ease);
    z-index: 6;

    .page-link {
        color: $red;
        font-family: $secondary-font-family;
        line-height: 1.6;
        text-transform: uppercase;
        display: block;
        box-sizing: content-box;
        letter-spacing: 5px;
        padding: .7% 14% 0% 14%;
        font-size: 24px;
        @include transition(.3s, ease);
        width: 320px;
        left: 50%;
        position: relative;
        @include translateX(-50%);
        overflow: hidden;

            &::before {
                display: block;
                content: "↯";
                position: absolute;
                font-size: 40px;
                color: $red;
                width: 40px;
                margin-top: -11px;
                left: 87%;
                @include translateX(-50%);
                height: 40px;
            }

            &::after {
                display: block;
                content: "↯";
                position: absolute;
                font-size: 40px;
                color: $red;
                width: 40px;
                margin-top: -49px;
                right: 81%;
                @include translateX(-50%);
                height: 40px;
            }

        &:hover{
            background-color: $white;
            color:$contrastred;
            text-decoration: none;

            &::before{
                color:$contrastred;
            }
            &::after{
                color:$contrastred;
            }
        }
    }
}

.open{
    @include translateY(0%);
    .page-link{
        color:$contrastred;
    }
}

.stickynavopen{
    @include translateY(0%);
    padding: 2% 0 2% 0;
    .page-link{
        color:$contrastred;
    }
}

.preventscroll{
    overflow: hidden;
}

/**
** Homegrid
**/

.homegrid {
    width:100%;
    padding: 0 3% 3% 3%;
    float: left;
    clear: both;
}

$full-width: 28.571%;
$half-width: 14.286%;
$three-widths: 42.857%;
$grid-height: 145px;

.unit{
    width: $full-width;
    height: $grid-height;
    float:left;
    position:relative;
    @include border-radius(5px);
    display: block;
    background-position: 45%;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    @include transition(.3s, ease);
}

.halfunit{
    width: $half-width;
    position: relative;
    height: $grid-height;
    float:left;
    @include border-radius(5px);
    display:block;
    background-position: 45%;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    @include transition(.3s, ease);
}

.expandunit{
  width:$three-widths;
}

.homegrid_column {
    width: $half-width;
    height: $grid-height;
    float:left;
    display:block;
}

.hardcolumn{
    width:100%;
}

.mini{
    width: 50%;
    height: 50%;
    @include border-radius(5px);
    position: relative;
    background-size: contain;
    display:block;
    background-repeat: no-repeat;
    background-position: 45%;
}

#homevideo{
    width: 71.428%;
    height: $grid-height * 3;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    margin: .55% 0;
    display:block;
    position:relative;
}

iframe{
    width:100%;
    height:100%;
    @include border-radius(5px);
}

.homegrid_image{
    background-size: cover;
    &:before{
      color: $white;
      font-family: $secondary-font-family;
      font-size: 30px;
      text-transform: uppercase;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      box-sizing: border-box;
      position: absolute;
      @include transition(.3s, ease);
    }
    &:hover{
      opacity:0.9;
      &:before{
        @include transform(translateY(-5px));
      }
    }
}

.nolink{
  &:hover{
    opacity:1;
    border-bottom:0px;
  }
}

#image1{
    background-image: url("../images/inicio/1hash.jpg");
    &:before{
        content: "La Serie";
    }
}

#image2{
    background-image: url("../images/inicio/2hash.jpg");
}

#image3{
    background-image: url("../images/inicio/6hash.jpg");
    &:before{
        content: "Arma tu Viaje";
    }
}

#image4{
    background-image: url("../images/inicio/4hash.jpg");
    &:before{
        content: "Jalate";
    }
}

#image5{
    background-image: url("../images/inicio/5hash.jpg");
    &:before{
        content: "Quienes Somos";
    }
}

#image6{
    background-image: url("../images/inicio/3hash.jpg");
    width: 95%;
    margin: 0 5% 0 0;
}

#image7{
    background-image: url("../images/inicio/7hash.jpg");
    margin: 0 0 0 5%;
    width:95%;
}

.spaces{
    margin-left: $full-width;
}

.social-home-block{
    padding: 0 3%;
    width: 40%;
    left: 50%;
    float: left;
    position: relative;
    @include translateX(-50%);
}

/**
 * Generales
 */

.introtitle{
    float:left;
    clear:both;
    position:relative;
    text-align: center;
    width:100%;
    margin-top: 5%;
}

.intro{
    width: 80%;
    margin: 0 10% 1% 10%;
    text-align: center;
    float:left;
    clear:both;
}

.textcenter{
    width: 80%;
    margin: 0 10% 1% 10%;
    text-align: center;
    float:left;
    clear:both;
}

.introsecond{
    width: 80%;
    margin: 1% 10% 0 10%;
    text-align: center;
    float:left;
    clear:both;
}

.polaroid{
    width: 96%;
    @include border-radius(5px);
    background-color: red;
    box-sizing: border-box;
    float: left;
    margin: 2%;
}

.xtext{
    background-image: url("../images/layout/graphicseparator.svg");
    height: 20px;
    width: 20px;
    top: -15px;
    margin: -14px -3px;
    background-size: cover;
    position: relative;
    display: inline-block;
    font-size: 0px;
}

.graphicseparator{
    background-image: url("../images/layout/graphicseparator.svg");
    height:60px;
    width:60px;
    background-size: cover;
    left: 50%;
    @include translateX(-50%);
    position: relative;
    float:left;
    clear:both;
}

/**
 * Site footer
 */

.sponfoot{
    text-align: center;
    padding: 12% 0 2% 0;

    &::before {
        display: block;
        content: "↯";
        color: $contrastred;
        position: absolute;
        width: 50px;
        font-weight: 100;
        margin-top: 110px;
        font-family: $secondary-font-family;
        left: 50%;
        @include translateX(-50%);
        font-size: 70px;
        line-height: 1;
        height: 70px;
    }

    p{
        clear:both;
        color:$contrastred;
        padding: 0 4%;

        &:first-of-type{
            padding-top: 100px;
        }

        a{
            text-decoration: underline;
            color: $contrastred;
        }
    }
    ul{
        width:1000px;
        float: left;
        clear: both;
        left: 50%;
        position: relative;
        @include translateX(-50%);
        list-style: none;
        margin: 5px 0 20px 0;

        &:last-of-type{
            margin-bottom:2%;
        }
    }
}

#logo_footer {
    width:300px;
    left: 50%;
    float: left;
    clear: both;
    position: relative;
    @include translateX(-50%);
}

.sponsor{
    float:left;
    li{
        float:left;
        padding: 0 3.3%;
        width: 16.5%;
        opacity: 0.8;
        @include transition(.4s, ease);

        &:hover{
            opacity:1;
        }
    }
}

footer {
    padding: 0;
    background-color: $red;
    margin-top: 10%;
}

.medialuna{
    position: relative;
    display: block;
    float: left;
    top: 0;
    height: 60px;
    width: 120px;
    left: 50%;
    @include translateX(-50%);
    overflow: hidden;

            &::before {
            display: block;
            content: " ";
            position: relative;
            background-color: $white;
            @include border-radius(100%);
            width: 140px;
            top: -110px;
            left: 50%;
            @include translateX(-50%);
            height: 140px;
    }
}

.icon{
    width: 40%;
    padding: 4%;
    position: relative;
    @include translateX(-50%);
    left: 50%;
}

.twitter{
    background-color: #02BAF8;
}
.facebook{
    background-color: #3B5999;
}
.youtube{
   background-color: #cc181e;
}
.instagram{
    background-color: #9e7043;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.social-media-block{
    margin-top: 100px;
    float: left;
    width: 100%;
    p{
        width:100%;
        text-align: center;
    }
}

.social-media-list {
    list-style: none;
    width: 100%;
    float: left;
    position: relative;
    margin-left: 0;
    margin-bottom: 0;

    li{
        width:100%;
        border-bottom: 5px solid rgba(0,0,0,0.2);
        @include border-radius(5px);
    }

    a{
        float: left;
        width: 48%;
        height: 48%;
        margin-bottom: 4%;
        display: block;
        opacity: 0.7;
        @include transition(.4s, ease);
        margin-right: 4%;


        &:hover{
            opacity:1;
        }
        &:nth-child(even){
            margin-right: 0px;
        }
    }
}


/**
 * Page content
 */

 main {
width:70%;
float:left;
padding: 0 3% 3% 3%
}

.fullmain{
    width:100%;
}

.inversed_name{
  margin-bottom:0;
}

.calltoaction{
    width:90% !important;
    margin: 6px 5% 2.3% 5%;
    font-size: 1.5em;
    box-sizing: border-box;
    padding-top:1%;
    @include border-radius(5px);
    background-color: $red;
    box-shadow: 0px 0px $contrastred;
    @include transition(0.4s,ease);

      a{
        color:$contrastred;
        padding: 6px 6px 2px 6px;
        width:100%;
        height:100%;
        text-align: center;
        float: left;
        @include transition(0.4s,ease);
        text-decoration: none;
      }

      &:hover{
          @include transform(translateY(-6px));
          box-shadow: 0px 6px $contrastred;
          a{
            color: $white;
          //  @include transform(scale(1.2));
          }
      }
}

.lesser{
  font-size: 1.2em;
}

.episodio{
    float:left;
    margin-bottom: 5%;

    h1{
        margin-bottom: 0px;
        margin-top: 1%;
        font-size: 35px;
    }
    p{
        float:left;
        margin-bottom: 4%;
        text-align: justify;
    }
}

.capsulas{
    list-style: none;
    margin-left: 0;
    float:left;
    width: 100%;

    li{
        float:left;
        width: 30.66%;
        margin: 0 4% 0 0;

        a{
            img{
                width:100%;
            }
        }

        &:nth-child(3n+3){
            margin-right: 0;
        }
    }
}

.cap_episode{
        float:left;
        background-size: cover;
        width: 100%;
        height: 90px;
        @include border-radius(5px);
        overflow: hidden;
        cursor: pointer;
        @include transition(.4s, ease);
        &:hover{
            opacity:0.8;
        }
}

aside {
    width: 30%;
    padding: 0 3% 3% 3%;
    float: left;
    min-height: 200px;
    margin-top: 55px;
    @include border-radius(5px);
 }

.add_space {
    @include border-radius(5px);
    overflow: hidden;
    @include transition(.4s, ease);
    &:hover{
        opacity:0.8;
    }
}

.mini_add_space {
    display:block;
    @include border-radius(5px);
    @include transition(.4s, ease);
    margin-top: 25%;
    overflow: hidden;
    &:hover{
        opacity:0.8;
    }
}

.page-content {
    padding: 4% 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

h1 {
    color: $red;
    font-family: $secondary-font-family;
    line-height: 1.3;
    text-transform: uppercase;
    display: block;
    padding: 5px 0;
    letter-spacing: 6px;
    font-size: 24px;
    float:left;
}

h2 {
    font-size: 18px;
    color: $red;
    font-family: $secondary-font-family;
    text-transform: uppercase;
    padding: 5px 0;
    letter-spacing: 6px;
    float: left;
    margin-bottom: 0;
    position: relative;
}

.episode{
    float:left;
}

.main_video{
    width:100%;
    height: 330px;
    float:left;
    margin-bottom: 2%;
}

.main_about{
    width: 100%;
    float: left;
    border-radius: 5px;
    overflow: hidden;
}

.post-content {
  margin-bottom: $spacing-unit;
    h3 {
        font-size: 26px;
    }
    h4 {
        font-size: 20px;
    }
}

/**
 * Destinos
 */

.destination{
    float:left;
    width: 100%;

    h1{
        margin-top: 1%;
        margin-bottom: 0px;
        font-size: 2em;
        float: left;
        clear:both;
    }
    h2{
        float:left;
        clear:both;
    }

    .promociones_title{
        padding-top: 5%;
    }
}

.destination_content{
    padding-left:0;
    text-align: justify;
    width: 100%;
    float: left;
    clear:both;
    padding: 0;
}
.destination_options{
    padding: 0px;
    width: 32%;
    margin-top: 0px;
}

.destination_gallery{
    float: left;
    width: 100%;
    margin-left: 0;
    list-style: none;
    li{
        float: left;
        width: 23%;
        margin-right: 2%;

        height: 70px;
        overflow: hidden;
        margin-bottom: 10px;
        background-size: cover;
        @include border-radius(5px);
        cursor:pointer;

        &:hover{
            opacity: 0.8;
        }
        &:nth-of-type(4n+4){
            margin-right: 0;
        }
    }
}

.destination_gallery li:nth-child(4n+4){
    margin-right:0px;
}

 .promociones{
    float: left;
    list-style: none;
    margin-left: 0;
    width: 100%;
 }

 .promocion_icon{
    width: 30%;
    height: 100%;
    padding: 2%;
    float: left;
 }

 .deals_list{
     float: left;
     width: 100%;
     margin: 0;
     list-style: none;

     li:nth-child(3n+0){
       margin-right:0px !important;
    }
 }

 .deal{
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin-right: 2%;
    border-bottom: 5px solid $contrastred;
    background-position: center left;
    background-color: $red;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    @include transition(.2s, ease);
    max-height: 105px;
    float: left;
    width:49%;
    @include border-radius(5px);

    .deal_icon{
      width: 28%;
    }

        .deal_hiddeninfo{
            margin-left: 0;
            position: relative;
            float:left;
            list-style: none;
            @include border-radius(0px);
            background-color: $red;
            color: $white;
            text-align: center;
            padding-bottom: 15px;
            width: 100%;
            height: 100%;
            @include transition(.2s, ease);
            opacity:0;
            @include border-radius-multiple(0px, 0px, 5px, 5px);
            text-align: left;
            z-index:2;

            li{
              border-bottom: 1px solid rgba(0, 0, 0, 0.5);
              &:nth-last-child(1){
                  border:0;
              }
            }
            h3{
              color: $white;
              margin: 0;
              padding: 0;
              font-size: 15px;
              text-transform: uppercase;
              padding-top: 10px;
              padding-left:15px;
            }
            a{
              text-align: left;
              color: rgba(0, 0, 0, 0.5);
              padding-left:15px;
            }
            p{
              text-align: left;
              margin-bottom: 10px;
              padding-left:15px;
            }
        }

    &:hover{
        overflow: visible;
        .deal_hiddeninfo{
          opacity:1;
        }
    }
 }

 .deal_info{
    color: $white;
    text-align: right;
    float: right;
    padding: 11% 11% 11% 0;
 }

.challenge_title{
    color: $white;
    float: left;
    font-size: 20px;
    position: relative;
    left: 50%;
    @include translateX(-50%);
    font-family: $base-font-family;
    text-transform: uppercase;
    display: block;
    padding: 5px 0;
    clear: both;
    letter-spacing: 6px;
}

.challenge_img{
    float: left;
    clear: both;
    background-color: $red;
}

.challenge_mini{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    min-height: 90px;
    height: auto;
    float: left;
    width:48%;
    margin-right: 4%;
    background-color: $white;
    @include border-radius(0px);
    margin-bottom: 30px;
    background-color:$red;

}

.challenge_name{
    float:left;
    color:$red;
}

.challenge_info{
    float: left;
    color: $red;
    width: 100%;
    background-color: $white;
    font-size: 13px;
    padding-bottom: 4%;
    clear: both;
    top: 94px;
    position: relative;
}

/**
Retos
*/

.retos{
    float:left;
    width:100%;
    list-style: none;
    margin-left:0;

    li{
        background-size:cover;
        position:relative;
        height: 130px;
        float:left;
        width: 30%;
        background-color: cornflowerblue;
        @include border-radius(5px);
        margin: 0 5% 3% 0;
        overflow: hidden;
        @include transition(.1s, ease);
        opacity: 1;

        &:nth-child(6n+5) {
            margin-right: 0;
        }

        &:hover{
            opacity: 1;
            overflow: visible;
            @include border-radius-multiple(5px, 5px, 0px, 0px);
            background-size: 0px 0px !important;
            .reto_icon{
                opacity:1;
            }
            .reto_image{
                opacity:0;
            }
        }

        h1{
            text-align: center;
            color: $white;
            margin: 0;
            padding: 0 0 6px 0;
            font-size: 15px;
        }

        .reto_image{
            position: absolute;
            background-size: cover;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 1;
            @include transition(.2s, ease);
            @include border-radius(5px);
        }
        .reto_icon{
            position: relative;
            float:left;
            left: 50%;
            margin-top: 0px;
            width: 105px;
            @include translateX(-50%);
            opacity: 0;
            @include transition(.2s, ease);
        }
    }
}

.locaciones{
  width:100%;
  list-style: none;
  margin-left:0;
  opacity: 1;
  background-color: cornflowerblue;
  float: left;
  @include transition(.2s, ease);
  @include border-radius(5px);

  li{
    clear: both;
    width: 100%;
    margin: 0;
    @include border-radius(0px);
    color: $white;
    height:auto;
    cursor:auto;
    z-index: 2;
    opacity: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);

    &:nth-last-child(1){
        border-radius: 0px 0px 5px 5px;
        @include border-radius-multiple(0px, 0px, 5px, 5px);
        margin-bottom:0;
        border:0;
    }

    h3{
        padding-left: 15px;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 10px 0 0 0;
        letter-spacing: 6px;
        text-align: right;
        @include translateX(0%);
        left: 0%;
        float:left;
        font-family: "Titillium Web", sans-serif;
        clear: both;
    }
    p{
        padding: 0 15px;
        margin-bottom: 10px;
        float:left;
        clear:both;

    }

    a{
        padding: 0 15px;
        margin-bottom: 0;
        float:left;
        color: rgba(0,0,0,0.5);
        clear:both;
    }
  }
}

.locaciones_open{
    overflow:visible !important;
    border-radius: 5px 5px 0px 0px !important;
    opacity:1 !important;
    background-image: none !important;
    .reto_icon{
        opacity:1 !important;
    }
    .reto_image{
        opacity:0 !important;
    }
    .deal_hiddeninfo{
      opacity:1;
    }

}

.hotspots{
  li{
    background-color: $red;
  }
  ul{
    padding-bottom: 10px;
    background-color: $red;
  }
}

/*
About
*/

.about_info{
    float:left;
    clear:both;
    text-align: justify;
    margin-bottom: 30px;
}

.about_info_second{
    float:left;
    clear:both;
    text-align: justify;
    margin: 4% 0 0;
}

.about_doc_h2{
    float: left;
    position: relative;
    left: 50%;
    @include translateX(-50%);
}

.about_contact_h2{
    float: right;
    position: relative;
    margin-top: 30px;
}

form{
    float: left;
    position: relative;
    clear: both;
    background-color: $red;
    width: 100%;
    padding: 5% 5% 5% 3%;
    @include border-radius(5px);

    label{
        float: left;
        padding-right: 4%;
        position: relative;
        text-align: right;
        width: 15%;
        color:$white;

    }
    input{
        float: left;
        width: 32%;
        @include border-radius(5px);
        border: 0;
        height: 28px;
        position: relative;
        background-color: $white;
        margin-bottom: 4%;
        padding: 10px;
        font-size: 16px;
        font-family: $base-font-family;
    }

    textarea{
        float: left;
        width: 55%;
        @include border-radius(5px);
        border: 0;
        height: 260px;
        position: relative;
        background-color: $white;
        padding: 10px;
        font-size: 16px;
        font-family: $base-font-family;
    }

    .form_email{
        margin-left: 5%;
    }

    .form_img{
        float: left;
        position: relative;
        width: 25%;
        height: auto;
        margin-left: 5%;
        margin-top: 35px;
    }

    .sendbutton{
        color: $white;
        width: 25%;
        height: 50px;
        float: right;
        font-size: 16px;
        font-family: $base-font-family;
        @include transition(.4s, ease);
        cursor: pointer;
        background-color: rgba(0,0,0,0.3);
        margin: 15px 0 0 5%;

        &:hover{
            background-color: $white;
            color:$red;
        }
    }
}

/*
Sponsor List
*/

.sponsorlist{
    width: 100%;
    float: left;
    position: relative;
    list-style: none;
    margin-left: 0px;

    li{
        float:left;
        width: 47.5%;
        margin-right: 5%;
        margin-top: 3%;
        @include transition(0.2s, ease);

        &:nth-child(2n+2){
            margin-right: 0px;
        }
        img{
            float:left;
        }
        p{
            float:left;
            text-transform: uppercase;
            line-height: 1.2;
            color: $red;
        }
        h2{
            float: left;
            clear: both;
            padding-bottom: 0px;
            padding-top: 20px;
        }
        &:hover{
            opacity: 0.8;
        }
    }
}

.sponsorlogo_side{
    float:left;
    width: 40%;
    img{
        width: 70%;
        margin: 0 20% 0 10%;
    }
}

.sponsortext_side{
    float:left;
    width: 60%;
    padding: 0 8%;
}

.fullbanner{
    width:100%;
    float:left;
}

/*
Stickynav
*/

.stickynav{
    width:100%;
    position: fixed;
    top:0;
    z-index: 8;
    transform: translate3d(0,0,0);
    @include transition(.4s, linear);
    height: 50px;
}

.stickyheader{
    padding: 0% 0 0px 0;
    height: 50%;
    position: fixed;
    overflow: hidden;
    background-color: $white;
    width: 100%;
    top: 0;
    z-index: 5;
    @include translateY(-100%);
    @include transition(.4s, ease);

    .logo{
        position: relative;
        width: 45%;
        left: 50%;
        @include translateX(-50%);
        margin-bottom: 20px;
    }
}

.transitionable{
    @include transition(.4s, ease);
}

.show_header_bar{
    @include translateY(-87.5%);
}

.stickyopen{
    @include translateY(0%);
}

.stickyvisible{
    display: block;
    visibility: visible;
}

/*
Únete
*/
.join_h2_left{
    margin-top: 10px;
}
.join_h2_right{
    float:right;
}

.panel{
    float:left;
    position:relative;
    width: 47.5%;
    margin-right: 5%;
    @include border-radius(5px);

    &:nth-child(2n+2){
        margin-right:0;
    }
}

.xbutton{
    width: 60px;
    height: 60px;
    display: block;
}
.descarga_material{
    width:30%;
    padding:0 2.5%;
    p{
        width: 140px;
        text-align: center;
        float: left;
        margin-bottom: 5px;
        left: 50%;
        color: $black;
        @include translateX(-50%);
        position: relative;

        a{
            color: $black;
        }
    }
}

.data_for_email{
    width:65%;
}

.descarga_boton{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 0;
    padding: 50% 0;
    border-radius: 50%;
    @include border-radius(50%);
    border: 3px $red solid;
    @include transition(.4s, ease);
    box-shadow: 0px 0px $contrastred;
    &:hover{
        box-shadow: 0px 10px $contrastred;
        @include translateY(-10px);
    }
    p{
        position: absolute;
        top:20%;
    }
}

.data_for_email{
    ul{
        float:left;
    }
    p{
        float:left;
    }
}

.mobile_visible{
    display: none;
    visibility: hidden;
    width:100%
}

.sidebar_visible{
    display: block;
    visibility: visible;
    width:100%;
}
